@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-textColor text-sm md:text-base font-niramit;
  }

  body {
    @apply bg-primary;
  }

  h1 {
    @apply text-2xl font-medium  
  }
  
  h2 {
    @apply text-xl font-medium
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  .gear-select {
    width: 12rem;
    left: 7px;
  
    @media (min-width: 1024px) {
      min-width: 15rem;
    }
  
    .gear-select__control {
      @apply border-2;
    }
  
    .gear-select__control:hover,
    .gear-select__control--is-focused {
      @apply border-accent;
      @apply border-2;
      box-shadow: none;
    }
  
    .gear-select__option:hover,
    .gear-select__option--is-focused {
      @apply bg-borderColor;
    }
  }
}
